<h1>My basket</h1>
<table width="100%">
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>Total price</th>
    </tr>
  </thead>
  <tbody>
    <% basket.each do |b| %>
      <tr>
        <td><%= b[:product].name %></td>
        <td><%= b[:product].price %></td>
        <td><%= b[:quantity] %></td>
        <td><%= b[:total_price] %></td>
      </tr>
    <% end %>
  </tbody>
  <tfoot>
    <tr>
      <td></td>
      <td></td>
      <td>Summary:</td>
      <td><%= basket.map{|x| x[:total_price]}.reduce(:+)%></td>
  </tfoot>
</table>
